services:
  mysql_docker_db:
    image: mysql:8.0
    container_name: mysql_docker_db
    environment:
      MYSQL_DATABASE: dockerDB
      MYSQL_ROOT_PASSWORD: rootClave456
      MYSQL_USER: dbuser
      MYSQL_PASSWORD: dbpass1234
    ports:
      - "3306:3306"
    networks:
      - springnet
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-uroot", "-prootClave456"]
      interval: 10s
      timeout: 5s
      retries: 5

  spring_app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: spring_app
    depends_on:
      mysql_docker_db:
        condition: service_healthy
    environment:
      DB_USERNAME: dbuser
      DB_PASSWORD: dbpass1234
    ports:
      - "8080:8080"
    networks:
      - springnet

volumes:
  mysql_data:

networks:
  springnet:


